.login-content {
  width: 100%;
  height: 100%;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;
}
.login-heading{
  font-size: 42px;
}
.login-input {
  min-width: 450px;
}
.login-more {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.login-button {
  min-width: 450px;
}
.login-socials {
  margin-top: 8px;
  display: flex;
  gap: 8px;
}
.login-social {
  display: flex;
  align-items: center;
  justify-content: center;
}
